<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><i class="fa fa-photo"></i>Photogram</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/new_photo_form">Add Photo</a></li>
        <li><a href="/">Random</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <div class="row" style="padding-top:50px">
    <div class="page-header">
      <h1>List of Photos</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <% @list_of_photos.each do |photo| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="<%= photo.source %>" width=100% style="border-radius:5px">
            <p><%= photo.caption %></p>
            <p>
              <button class="btn btn-primary">
                <a href="http://localhost:3000/photo_details/<%= photo.id %>"><i class="fa fa-arrows-alt" style="color:white"></i></a>
              </button>
              <button class="btn btn-warning">
                <a href="http://localhost:3000/edit_photo_form/<%= photo.id %>"><i class="fa fa-pencil" style="color:white"></i></a>
              </button>
              <button class="btn btn-danger">
                <a href="http://localhost:3000/delete_photo/<%= photo.id %>"><i class="fa fa-trash" style="color:white"></i></a>
              </button>
            </p>
          </div>
        </div>

      <% end %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
