<div class="container">
  <div class="row" style="padding-top:50px">
    <div class="page-header">
      <h1>Gallery</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <% @list_of_photos.each do |photo| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="<%= photo.source %>" width=100% style="border-radius:5px">
            <p><%= photo.caption %></p>
            <p>
              <a href="http://localhost:3000/photo_details/<%= photo.id %>" class="no-hover">
                <button class="btn btn-primary">
                  <i class="fa fa-arrows-alt" style="color:white"></i>
                </button>
              </a>
              <a href="http://localhost:3000/edit_photo_form/<%= photo.id %>" class="no-hover">
                <button class="btn btn-warning">
                  <i class="fa fa-pencil" style="color:white"></i>
                </button>
              </a>
              <a href="http://localhost:3000/delete_photo/<%= photo.id %>" class="no-hover">
                <button class="btn btn-danger">
                  <i class="fa fa-trash" style="color:white"></i>
                </button>
              </a>
            </p>
          </div>
        </div>

      <% end %>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div id="footer">
    <div class="container">
      <p>Example from Tom Besio</p>
    </div>
  </div>
</div>
