<div class="container">
  <h1>List of Photos</h1>

  <ul class="list-group">
    <% @list_of_photos.each do |photo| %>
        <li class="list-group-item"><img src="<%= photo.source %>" width="80"></li>
        <li class="list-group-item"><%= photo.caption %></li>
        <li class="list-group-item">
          <a href="http://localhost:3000/photo_details/<%= photo.id %>">Show</a>
          <a href="http://localhost:3000/edit_photo_form/<%= photo.id %>">Edit</a>
          <a href="http://localhost:3000/delete_photo/<%= photo.id %>">Delete</a>
        </li>
    <% end %>
  </ul>
</div>
